body {
  background-image: radial-gradient(
      at 1% 28%,
      hsla(203, 38%, 43%, 1) 0px,
      /* 53% - 10% = 43% */ transparent 50%
    ),
    radial-gradient(
      at 2% 84%,
      hsla(211, 97%, 27%, 1) 0px,
      /* 37% - 10% = 27% */ transparent 50%
    ),
    radial-gradient(
      at 40% 20%,
      hsla(216, 63%, 18%, 1) 0px,
      /* 28% - 10% = 18% */ transparent 50%
    ),
    radial-gradient(
      at 80% 0%,
      hsla(197, 70%, 36%, 1) 0px,
      /* 46% - 10% = 36% */ transparent 50%
    ),
    radial-gradient(
      at 0% 50%,
      hsla(210, 91%, 27%, 1) 0px,
      /* 37% - 10% = 27% */ transparent 50%
    ),
    radial-gradient(
      at 0% 100%,
      hsla(216, 48%, 53%, 1) 0px,
      /* 63% - 10% = 53% */ transparent 50%
    ),
    radial-gradient(
      at 80% 100%,
      hsla(240, 100%, 16%, 1) 0px,
      /* 26% - 10% = 16% */ transparent 50%
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}
